:root {
  --color-bg: #2d3a4f;
  --color-btn-bg: #849d95;
  --color-btn-text: #2d3a4f;

  --color-text: #fef6e9;
  --color-text-hover: #849d95;
  --color-text-inactive: #849d95;
  --color-text-nav: #849d95;
  --color-text-label: #1e2735;
  --color-text-placeholder: #2d3a4f;

  --color-form-bg: #1e2735;
}
