#__next {
  align-items: center;
  display: flex;
  min-height: 100%;
}

.container {
  display: flex;
  min-height: 787px;
  margin: 40px auto;
  width: 100%;

  @media (min-width: 1356px) {
    width: 1356px;
  }
}
