nav {
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  font-size: 0.875rem;
  flex-direction: column;
  min-height: 787px;
  min-width: 140px;
  padding: 20px 2.29%;
  position: relative;
  transition: all 0.5s ease;
  width: 20.87%;

  /* Mini Nav style is on the bottom */

  .nav-toggle {
    margin-bottom: 46px;
    margin-top: -8px;
    text-align: right;
    transition: all 0.5s ease;

    @media (min-width: 1024px) {
      margin-right: -18px;
    }

    span {
      cursor: pointer;
      display: inline-block;
      padding: 5px 10px;
    }

    svg:hover {
      fill: var(--color-text-hover);
    }
  }

  /* nav list ----------*/

  ul {
    list-style: none;
    padding-left: 0.6%;
  }

  li {
    padding: 5px;
    position: relative;

    &:hover {
      color: var(--color-text);

      a {
        color: var(--color-text);
      }

      svg {
        fill: var(--color-text);
      }
    }

    a {
      color: var(--color-text-inactive);
    }

    svg {
      display: inline-block;
      fill: var(--color-text-inactive);
      vertical-align: top;
    }

    .nav-title {
      margin-left: 9px;
    }
  }

  li.active {
    a {
      color: var(--color-text);
    }

    svg {
      fill: var(--color-text);
    }
  }

  /* logo, logout ----------*/

  .nav-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
}

/* Mini Nav
----------------------------------------*/

nav.mini {
  padding: 20px;
  min-width: 70px;
  width: 70px;

  .nav-toggle {
    svg {
      transform: rotate(180deg);
    }
  }

  ul {
    padding: 0;
  }

  li {
    .nav-title {
      display: none;
      position: absolute;
    }

    &:hover {
      .nav-title {
        background: var(--color-form-bg);
        border-radius: 4px;
        display: inline-block;
        left: 20px;
        padding: 2px 10px;
        position: absolute;
        top: 2px;
        width: max-content;
        z-index: 2;
      }
    }
  }

  .nav-footer {
    flex-direction: column-reverse;

    .nav-footer-logout {
      margin-bottom: 25px;
    }
  }
}
